body {
	text-align: center;
	color:#fff;
	font-family: sans-serif;
	background-color: #ffac0d;
	margin: 0;
	padding: 0;
}

img {
	margin: 10px;
}

.user-choice {
	background-color: #15b458;
	font-size: 25px;
	padding: 15px;
}

.cpu-choice {
	background-color: #ff320d;
	font-size: 25px;
	padding: 15px;
}